<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <%- include templates/css_scripts %>
    <link rel="stylesheet" href="/stylesheets/css/home.css">
  </head>
  <body>
    <%- include('templates/header', {pageHome: true}); %>
    <div class="contenedor">
      <h1>Page Home</h1>
    </div>

    <section class="title" id="title">
      <h1>Title Home</h1>
    </section>

    <section class="valores" id="valores">
      <h1>Our Values</h1>
    </section>


    <%- include templates/footer %>
    <!-- Scripts JS -->
   <%- include templates/scripts %>
  </body>
</html>
